@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Mitr-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mochiy';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/MochiyPopOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Molengo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  src: url('../../fonts/Manrope.ttf') format('truetype');
}
