@font-face {
  font-family: 'RobotoFlex';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/RobotoFlex.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSerif';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/RobotoSerif.ttf') format('truetype');
}
@font-face {
  font-family: 'AlexBrush-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/AlexBrush-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Shippori';
  font-style: normal;
  src: url('./../fonts/ShipporiAntique-Regular.ttf') format('truetype');
}
