$_bgSecond: #b519ba;
$_white: #fff;
$_black: #010101;
$_bgThird: #f9f9f9;
$_bgFirst: #a352a6;

$_fontFamily: 'Mochiy', sans-serif;
$_secondFamily: 'Molengo', sans-serif;
$_thirdFamily: 'Mitr', sans-serif;
$_fourthFamily: 'Manrope', sans-serif;

$_transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
