$_dark: #241104;
$_lite: #f7efe5;
$_secondary: #b2aca5;
$_primary: #e9a572;
$_hover: #f0a167;
$_pressed: #fb9a53;
$_litest: #dbd2c7;
$_primary-for-lite: #863a02;
$_card-fon: #2b2019;

$_fontFamily: 'RobotoFlex', sans-serif;
$_secondFamily: 'RobotoSerif', sans-serif;
$_thirdFamily: 'Shippori', sans-serif;
$_font3: 'AlexBrush-Regular', sans-serif;
$_font4: 'SF Pro', sans-serif;

$_transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
