.about {
  background-color: $_lite;
}

.about-container {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
}
.text-section-mob {
  color: $_primary-for-lite;
  font-family: $_secondFamily;
  font-size: 18px;
  font-weight: 500;

  margin-bottom: 36px;
}
.about-img {
  width: 358px;
  margin-bottom: 36px;
}
.about-title-box {
  display: flex;
  flex-direction: column;
}

.text-section-desc {
  display: none;
}
.about-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  color: $_dark;
  font-family: $_secondFamily;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

.about-text {
  margin-bottom: 36px;

  color: $_dark;
  font-family: $_fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.about-btn {
  display: inline-block;
  align-self: center;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  background-color: $_primary;
  border: none;

  color: $_dark;
  font-family: $_fontFamily;
  text-align: center;
  font-size: 18px;
  font-weight: 600;

  margin-bottom: 48px;
}

.about-list {
  margin: auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.about-item {
  padding: 24px;
  background-color: $_dark;

  position: relative;
  min-height: 220px;
}
.star-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: $_primary;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.item-icon {
  align-self: flex-start;
  width: 24px;
  height: 24px;
  fill: $_lite;

  margin-bottom: 31px;
}
.title-item {
  color: $_lite;
  font-family: $_secondFamily;
  font-size: 20px;
  font-weight: 500;

  margin-bottom: 31px;
}
.text-item {
  color: $_lite;
  font-family: $_fontFamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@include media(desktop) {
  .about-container {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
  }
  .text-section-mob {
    display: none;
  }
  .text-section-desc {
    display: flex;
    color: $_primary-for-lite;
    font-family: $_secondFamily;
    font-size: 20px;
    font-weight: 500;

    margin-bottom: 48px;
  }
  .about-top {
    display: flex;
    margin-bottom: 48x;
  }
  .about-img {
    width: 526px;
    height: 579px;

    margin-right: 110px;
  }
  .about-title-box {
    display: flex;
    flex-direction: column;
  }

  .about-title {
    margin-bottom: 32px;
    font-size: 64px;

    text-transform: uppercase;
  }
  .about-text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 110px;
  }

  .about-btn {
    align-items: flex-start;
  }

  .about-list {
    margin: auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 44px;
  }
  .about-item {
    padding: 24px;
    background-color: $_dark;

    position: relative;
    min-height: 220px;
  }
  .star-icon {
    position: absolute;
    top: 0;
    left: 0;
    fill: $_primary;
    width: 48px;
    height: 48px;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .item-icon {
    align-self: flex-start;
    width: 24px;
    height: 24px;
    fill: $_lite;

    margin-bottom: 31px;
  }
  .title-item {
    color: $_lite;
    font-family: $_secondFamily;
    font-size: 20px;
    font-weight: 500;

    margin-bottom: 31px;
  }
  .text-item {
    color: $_lite;
    font-family: $_fontFamily;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}
