.home {
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: $_bgThird;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
}

.home-image {
  z-index: 5;
  position: relative;
}

.home-image-shadow {
  width: 260px;
  height: 340px;
  border-radius: 50%;
  background: #eec8ef;
  filter: blur(45px);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 5;
}

.home-title {
  font-size: 24px;
  color: $_black;
}

.home-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 12px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(270deg, #b519ba 0%, #520b54 80.11%);
  transition: box-shadow $_transition;

  &:hover {
    box-shadow: -12px -12px 60px 0px rgba(134, 82, 136, 0.3),
      12px 12px 60px 0px rgba(134, 82, 136, 0.4);
  }

  & .home-button-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .home-button-text {
      color: $_white;
      font-family: $_fourthFamily;
      font-size: 16px;
    }

    & .home-button-text-bold {
      font-weight: 600;
    }
  }
}

.home-piece {
  position: absolute;
  fill: transparent;
}

.home-piece-one {
  stroke: #b519ba;
  width: 80px;
  height: 70px;
  top: -20px;
  left: 0;
  transform: rotate(70deg);
}

.home-piece-two {
  stroke: #ffcf01;
  width: 100px;
  height: 100px;
  top: 250px;
  right: -30px;
  transform: rotate(160deg);
}

.home-piece-three {
  stroke: #ff0101;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 0;
  transform: rotate(130deg);
}

.home-piece-four {
  stroke: #b519ba;
  width: 40px;
  height: 34px;
  top: 420px;
  left: 30px;
  transform: rotate(-30deg);
}

.home-piece-five {
  stroke: #ff0101;
  width: 50px;
  height: 50px;
  top: 180px;
  left: 20px;
  transform: rotate(130deg);
}

@include media(desktop) {
  .home {
    padding-top: 160px;
  }

  .home-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .home-image-box {
    position: relative;
  }

  .home-image-shadow {
    width: 390px;
    height: 570px;
    transform: rotate(12deg);
    top: 0;
    left: 0;
  }

  .home-info {
    gap: 32px;
  }

  .home-title {
    font-size: 64px;
    max-width: 450px;
  }

  .home-button {
    align-self: flex-start;
  }

  .home-piece {
    opacity: 0;
  }

  .home-piece-one {
    stroke: #b519ba;
    width: 80px;
    height: 70px;
    top: 150px;
    left: 350px;
    transform: rotate(0deg);

    --final-rotate: -40deg;
    --final-top: 70px;
    --final-left: 230px;
    animation: growRotateAndFlipOne 1.5s ease forwards;
  }

  .home-piece-two {
    stroke: #ffcf01;
    width: 80px;
    height: 70px;
    top: 230px;
    right: auto;
    left: 450px;
    transform: rotate(110deg);

    --final-rotate: 60deg;
    --final-top: 250px;
    --final-left: 600px;
    animation: growRotateAndFlipTwo 1.5s ease forwards;
  }

  .home-piece-three {
    stroke: #ff0101;
    width: 30px;
    height: 30px;
    top: 260px;
    right: auto;
    left: 390px;
    transform: rotate(0deg);

    --final-rotate: -40deg;
    --final-top: 380px;
    --final-left: 310px;
    animation: growRotateAndFlipThree 1.5s ease forwards;
  }

  .home-piece-four {
    display: none;
  }

  .home-piece-five {
    display: none;
  }
}

@keyframes growRotateAndFlipOne {
  0% {
    transform: scale(1) rotate(0deg);
    top: calc(var(--final-top) + 50px);
    left: calc(var(--final-left) + 50px);
    opacity: 0;
  }
  50% {
    transform: scale(2) rotate(180deg);
    top: calc(var(--final-top) + 30px);
    left: calc(var(--final-left) + 30px);
    opacity: 1;
  }
  100% {
    transform: scale(4) rotate(var(--final-rotate));
    top: var(--final-top);
    left: var(--final-left);
    opacity: 1;
  }
}

@keyframes growRotateAndFlipTwo {
  0% {
    transform: scale(1) rotate(0deg);
    top: calc(var(--final-top) - 20px);
    left: calc(var(--final-left) - 150px);
    opacity: 0;
  }
  50% {
    transform: scale(2) rotate(180deg);
    top: calc(var(--final-top) - 10px);
    left: calc(var(--final-left) - 70px);
    opacity: 1;
  }
  100% {
    transform: scale(4) rotate(var(--final-rotate));
    top: var(--final-top);
    left: var(--final-left);
    opacity: 1;
  }
}

@keyframes growRotateAndFlipThree {
  0% {
    transform: scale(1) rotate(0deg);
    top: calc(var(--final-top) - 120px);
    left: calc(var(--final-left) + 80px);
    opacity: 0;
  }
  50% {
    transform: scale(2) rotate(180deg);
    top: calc(var(--final-top) - 60px);
    left: calc(var(--final-left) + 40px);
    opacity: 1;
  }
  100% {
    transform: scale(4) rotate(var(--final-rotate));
    top: var(--final-top);
    left: var(--final-left);
    opacity: 1;
  }
}
