<section class="about" id="about">
  <div class="container about-container">
    <p class="text-section-mob">Про мене</p>
    <img class="about-img" src="./img/about/about.png" alt="Olha Mykhalchuk" />
    <div class="about-title-box">
      <p class="text-section-desc">Про мене</p>
      <h2 class="about-title">
        <span>Швидко.</span>
        <span>Якісно.</span>
        <span>Ефективно.</span>
      </h2>
    </div>

    <div class="about-text-box">
      <p class="about-text">
        Привіт! Я - веб-розробник із досвідом створення зручних та красивих
        сайтів. Моя мета - допомогти вашему бізнесу виділитись онлайн. Пропоную
        персоналізовані рішення під ваші потреби.
      </p>
    </div>
    <a class="about-btn" href="#contact">Замовити консультацію</a>
  </div>

  <ul class="about-list">
    <li class="about-item">
      <svg class="star-icon">
        <use></use>
      </svg>
      <svg class="item-icon">
        <use></use>
      </svg>
      <h3>Індивідуальний підхід</h3>
      <p>
        Розробка рішень, які відповідають вашим цілям та особливостям бізнесу.
      </p>
    </li>

    <li class="about-item">
      <svg class="star-icon">
        <use></use>
      </svg>
      <svg class="item-icon">
        <use></use>
      </svg>
      <h3>Розуміння потреб бізнесу</h3>
      <p>Глибоке занурення у вашу нішу для створення ефективних рішень.</p>
    </li>

    <li class="about-item">
      <svg class="star-icon">
        <use></use>
      </svg>
      <svg class="item-icon">
        <use></use>
      </svg>
      <h3>Оперативність та якість</h3>
      <p>Швидке виконання проєктів з гарантією високого стандарту.</p>
    </li>
  </ul>
</section>
