<section class="desc" id="description">
  <div class="container desc-container">
    <div class="desc-toy-box">
      <svg class="desc-cloud desc-cloud-one" width="80" height="30">
        <use href="./img/sprite.svg#icon-cloud_1"></use>
      </svg>
      <svg class="desc-cloud desc-cloud-two" width="60" height="20">
        <use href="./img/sprite.svg#icon-cloud_2"></use>
      </svg>
      <svg class="desc-cloud desc-cloud-three" width="110" height="25">
        <use href="./img/sprite.svg#icon-cloud_3"></use>
      </svg>
      <picture>
        <source media="(min-width: 1200px)"
        srcset="./img/description/bear_@1x.webp 1x,
        ./img/description/bear_@2x.webp 2x" type=image/webp> <source
        media="(max-width: 1199px)" srcset="./img/description/bear_mob_@1x.webp
        1x, ./img/description/bear_mob_@2x.webp 2x" type=image/webp>
        <img
          class="desc-image"
          src="./img/description/bear_mob_@1x.webp"
          alt="Bear"
          loading="lazy"
        />
      </picture>
      <button
        class="desc-button"
        type="button"
        aria-label="Go to google play market"
      >
        Play Now
        <svg class="desc-button-icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-arrow-top-right"></use>
        </svg>
      </button>
    </div>
    <div class="desc-main-box">
      <h2 class="desc-title">Game Description</h2>
      <p class="desc-text">
        Start Great Game is an exciting match-3 puzzle adventure that brings
        players into a beautiful forest world. Players work to save animals by
        matching three or more of the same items to clear the board and complete
        objectives. With each level introducing unique challenges, Start Great
        Game keeps players engaged with its delightful mechanics, charming
        visuals, and thrilling gameplay. Power-ups, special items, and fun
        characters add depth, making each level both challenging and enjoyable.
        Regular updates with new levels and events keep the forest rescue
        mission going strong.
      </p>
    </div>
  </div>
</section>
