<section class="features" id="features">
  <div class="container features-container">
    <h2 class="features-title">Unique Features</h2>
    <ul class="features-list section-animation">
      <li class="features-item">
        Start Great Game offers a variety of game modes and objectives,
        distinguishing itself from traditional match-3 puzzles with engaging,
        fresh challenges.
        <svg class="features-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-rocket"></use>
        </svg>
      </li>
      <li class="features-item">
        Discover unique obstacles and mechanics such as logs, ice, and special
        items that require creative problem-solving.
        <svg class="features-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-ice"></use>
        </svg>
      </li>
      <li class="features-item">
        Use powerful boosts and combinations to clear difficult levels and
        rescue animals.
        <svg class="features-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
      </li>
      <li class="features-item">
        Use powerful boosts and combinations to clear difficult levels and
        rescue animals.
        <svg class="features-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-cup"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
