<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-list">
      <div class="footer-top">
        <div class="footer-item">
          <a href="./privacy.html" class="footer-link page">Privacy Policy</a>
        </div>
        <div class="footer-item">
          <a href="./terms.html" class="footer-link page"
            >Terms and Conditions</a
          >
        </div>
      </div>

      <div class="ftr-bottom">
        <div class="footer-bottom">
          <p class="footer-text">All rights reserved</p>
          <div class="footer-link">
            <a href="http://startgreatgame.com" class="footer-link"
              >startgreatgame.com</a
            >
            &nbsp;|&nbsp;
            <script>
              document.write(new Date().getFullYear());
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
