<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/gallery/img1.png" alt="Image 1" />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/img2.png" alt="Image 2" />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/img3.png" alt="Image 3" />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/img4.png" alt="Image 4" />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/img5.png" alt="Image 5" />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/img6.png" alt="Image 6" />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/img7.png" alt="Image 7" />
        </div>
      </div>

      <div class="swiper-button-prev">
        <button type="button">
          <svg width="40" height="40">
            <use href="../img/sprite.svg#icon-swiper-btn-left"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-button-next">
        <button type="button">
          <svg width="40" height="40">
            <use href="../img/sprite.svg#icon-swiper-btn-right"></use>
          </svg>
        </button>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
