<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <div class="slider-box">
      <h2 class="gallery-title">Gallery</h2>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/gallery/img1.webp" alt="Image 1" />
          </div>
          <div class="swiper-slide">
            <img src="./img/gallery/img2.webp" alt="Image 2" />
          </div>
          <div class="swiper-slide">
            <img src="./img/gallery/img3.webp" alt="Image 3" />
          </div>
          <div class="swiper-slide">
            <img src="./img/gallery/img4.webp" alt="Image 4" />
          </div>
          <div class="swiper-slide">
            <img src="./img/gallery/img5.webp" alt="Image 5" />
          </div>
          <div class="swiper-slide">
            <img src="./img/gallery/img6.webp" alt="Image 6" />
          </div>
          <div class="swiper-slide">
            <img src="./img/gallery/img7.webp" alt="Image 7" />
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
      <div class="gallery-button-prev">
        <button
          type="button"
          class="gallery-button"
          aria-label="Go to previous slide"
        >
          <svg width="40" height="40">
            <use href="./img/sprite.svg#icon-swiper-btn-left"></use>
          </svg>
        </button>
      </div>
      <div class="gallery-button-next">
        <button
          type="button"
          class="gallery-button"
          aria-label="Go to next slide"
        >
          <svg width="40" height="40">
            <use href="./img/sprite.svg#icon-swiper-btn-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
