<header class="header">
  <div class="container header-container">
    <div class="menu-mob">
      <svg class="icon-menu">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </div>
    <div class="logo">
      <img src="../img/logo/logo.png" alt="logo" />
    </div>
    <div class="lang-button">
      <button type="button" class="dropdown-toggle">
        UA <span class="arrow">
          <svg class="icon-arow">
            <use href="./img/sprite.svg#icon-icon-lang-button"></use>
          </svg>
        </span>
      </button>
      <div class="dropdown-menu">
        <button type="button" class="active">UA</button>
        <button type="button">EN</button>
        <button type="button">DE</button>
      </div>
    </div>

</header>
