<section class="hero" id="hero">
  <div class="container hero-container">
    <div>
      <h1 class="title-hero top">Сайти під ключ</h1>
      <img class="img-hero" src="./img/hero/hero.png" alt="" />
    </div>
    <div class="hero-bottom">
      <h1 class="title-hero bottom">
        <span>Підтримка</span>
        <span>вашого бізнесу</span>
      </h1>
      <div class="text-icon-box">
        <img class="icon-hero" src="./img/hero/Arrow-hero.png" alt="arrow" />
        <p class="text-hero">
          Сайти, що допомагають знаходити клієнтів та підвищувати продажі.
          Довірте технічну сторону вашого успіху професіоналам.
        </p>
      </div>
    </div>
  </div>
</section>
