<section id="play" class="play">
  <div class="container">
    <h2 class="puzzle-title">How to play</h2>
    <ul class="puzzle-container section-animation">
      <li class="puzzle-piece piece1">
        <p class="puzzle-number">1</p>
        <p class="puzzle-text">
          Match three or more identical items to clear them from the board and
          progress through the levels.
        </p>
        <p class="puzzle-notch top-notch-piece1"></p>
        <p class="puzzle-notch right-notch-piece1"></p>
      </li>
      <li class="puzzle-piece piece2">
        <p class="puzzle-number">2</p>
        <p class="puzzle-text">
          Complete specific objectives like rescuing animals or collecting items
          to win the level.
        </p>
        <p class="puzzle-notch top-notch-piece2"></p>
        <p class="puzzle-notch right-notch-piece2"></p>
      </li>
      <li class="puzzle-piece piece3">
        <p class="puzzle-number">3</p>
        <p class="puzzle-text">
          Use power-ups and special tools strategically to clear tougher levels
          and achieve higher scores.
        </p>
        <p class="puzzle-notch top-notch-piece3"></p>
        <p class="puzzle-notch right-notch-piece3"></p>
      </li>
      <li class="puzzle-piece piece4">
        <p class="puzzle-number">4</p>
        <p class="puzzle-text">
          Plan your moves wisely, as you may face limited moves or timed
          challenges.
        </p>
        <p class="puzzle-notch top-notch-piece4"></p>
        <p class="puzzle-notch right-notch-piece4"></p>
      </li>
      <li class="puzzle-piece piece5">
        <p class="puzzle-number">5</p>
        <p class="puzzle-text">
          Progress through increasingly complex levels with diverse goals and
          obstacles.
        </p>
        <p class="puzzle-notch top-notch-piece5"></p>
        <p class="puzzle-notch right-notch-piece5"></p>
      </li>
      <li class="puzzle-piece piece6">
        <p class="puzzle-number">6</p>
        <p class="puzzle-text">
          Progress through increasingly complex levels with diverse goals and
          obstacles.
        </p>
        <p class="puzzle-notch top-notch-piece6"></p>
        <p class="puzzle-notch right-notch-piece6"></p>
      </li>
    </ul>
  </div>
</section>
