<section id="play" class="play">
  <div class="container">
    <h2 class="puzzle-title">How to play</h2>
    <ul class="puzzle-container section-animation">
      <li class="puzzle-piece piece1">
        <p class="puzzle-number">1</p>
        <p class="puzzle-text">
          Match three or more identical items to clear them from the board and
          progress through the levels.
        </p>
        <p class="puzzle-notch notch-right"></p>
        <p class="puzzle-notch notch-bottom"></p>
        <p class="puzzle-notch notch-right-desktop"></p>
        <p class="puzzle-notch notch-bottom-desktop"></p>
      </li>
      <li class="puzzle-piece piece2">
        <p class="puzzle-number">2</p>
        <p class="puzzle-text">
          Complete specific objectives like rescuing animals or collecting items
          to win the level.
        </p>
        <p class="puzzle-notch notch-right-desktop"></p>
        <p class="puzzle-circle circle-left"></p>
        <p class="puzzle-circle circle-bottom"></p>
        <p class="puzzle-circle circle-left-desktop"></p>
        <p class="puzzle-circle circle-bottom-desktop"></p>
      </li>
      <li class="puzzle-piece piece3">
        <p class="puzzle-number">3</p>
        <p class="puzzle-text">
          Use power-ups and special tools strategically to clear tougher levels
          and achieve higher scores.
        </p>
        <p class="puzzle-notch notch-right"></p>
        <p class="puzzle-circle circle-top"></p>
        <p class="puzzle-circle circle-bottom"></p>
        <p class="puzzle-circle circle-left-desktop"></p>
        <p class="puzzle-circle circle-bottom-desktop"></p>
      </li>
      <li class="puzzle-piece piece4">
        <p class="puzzle-number">4</p>
        <p class="puzzle-text">
          Plan your moves wisely, as you may face limited moves or timed
          challenges.
        </p>
        <p class="puzzle-notch notch-top"></p>
        <p class="puzzle-notch notch-right-desktop"></p>
        <p class="puzzle-circle circle-left"></p>
        <p class="puzzle-circle circle-bottom"></p>
        <p class="puzzle-circle circle-top-desktop"></p>
      </li>
      <li class="puzzle-piece piece5">
        <p class="puzzle-number">5</p>
        <p class="puzzle-text">
          Progress through increasingly complex levels with diverse goals and
          obstacles.
        </p>
        <p class="puzzle-notch notch-top"></p>
        <p class="puzzle-notch notch-right"></p>
        <p class="puzzle-notch notch-top-desktop"></p>
        <p class="puzzle-notch notch-right-desktop"></p>
        <p class="puzzle-circle circle-left-desktop"></p>
      </li>
      <li class="puzzle-piece piece6">
        <p class="puzzle-number">6</p>
        <p class="puzzle-text">
          Progress through increasingly complex levels with diverse goals and
          obstacles.
        </p>
        <p class="puzzle-notch notch-top"></p>
        <p class="puzzle-notch notch-top-desktop"></p>
        <p class="puzzle-circle circle-left"></p>
        <p class="puzzle-circle circle-left-desktop"></p>
      </li>
    </ul>
  </div>
</section>
